.card {
  border-color: rgba(0, 89, 255, 0.424);
}

.card-header {
  background-color: rgba(0, 89, 255, 0.212);
}

.btn-warning {
  background-color: #ffc10765;
}

.btn-success {
  color: black;
  background-color: #1987548e;
}
